In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle('business_quality_data.pkl')

In [4]:
df.columns

Index(['name', 'mar_cap_mUSD', '3m_val_turnover_mUSD', 'country_name',
       'exchange1', 'sector', 'industry', 'primary', 'reporting_currency',
       'reporting_currency', 'BQ_score', 'BQ_score_percentile', 'EQ_score',
       'EQ_score_percentile', 'govern_score', 'govern_score_percentile',
       'V_score', 'V_score_percentile', 'BQ_score_annual_0y',
       'BQ_score_annual_0y_pctile', 'BQ_score_annual_-1y',
       'BQ_score_annual_-1y_pctile', 'BQ_score_annual_-2y',
       'BQ_score_annual_-2y_pctile', 'BQ_score_chg_0y',
       'BQ_score_chg_0y_pctile', 'BQ_RoC_score_percentile',
       'BQ_growth_score_percentile', 'BQ_profitability_score_percentile',
       'BQ_asset_intensity_score_percentile',
       'BQ_capital_structure_score_percentile',
       'BQ_reinvestment_score_percentile', 'BQ_shareholder_score_percentile',
       'EQ_accruals_comp_score_percentile',
       'EQ_assumption_comp_score_percentile', 'EQ_risk_comp_score_percentile',
       'EQ_compound_comp_score_percentile', 'V_score_fundamental_percentile',
       'V_score_relative_percentile',
       'Alignement with Shareholders_percentile', 'Board Quality_percentile',
       'Committee Quality_percentile', 'ROE', 'median ROE 3-yr', 'ROE_change',
       'ROA', 'RNOA', 'ROIC', 'assets/equity', 'assets/equity_change', 'GPM%',
       'OPMargin', 'PM', 'median PM 3-yr', 'PM_change', 'OPM_change',
       'SGA_pctSales', 'Revenue 1-yr CAGR', 'ShareholderEquity 1-yr CAGR',
       'Revenue 3-yr CAGR', 'ShareholderEquity 3-yr CAGR', 'Share growth',
       'div_payout_rate', 'sales/assets', 'sales/asset_change',
       'Sales/avg_NOA', 'days_CCC', 'days_CCC_change', 'R&D_pctSales',
       'days_sales_outstanding', 'days_inventory_outstanding',
       'days_payables_outstanding', 'net_debt/equity', 'sloan_accruals_assets',
       'CFO%sales', 'avg_PPE_life', 'FCF%sales',
       'intangibleAssets/totalAssets', 'CFO_NI', 'S&M%sales',
       'total_investment/sales', 'capitalExpenditures_pctSales', 'P/E_ttm',
       'P/B', 'P/S_ttm', 'EV/EBIT_ttm', 'EV/EBITDA_ttm'],
      dtype='object')

In [7]:
df_out = df[['BQ_score', 'BQ_score_percentile','V_score', 'V_score_percentile', 'BQ_RoC_score_percentile',
       'BQ_growth_score_percentile', 'BQ_profitability_score_percentile',
       'BQ_asset_intensity_score_percentile',
       'BQ_capital_structure_score_percentile',
       'BQ_reinvestment_score_percentile', 'BQ_shareholder_score_percentile']]

In [8]:
df_out

,BQ_score,BQ_score_percentile,V_score,V_score_percentile,BQ_RoC_score_percentile,BQ_growth_score_percentile,BQ_profitability_score_percentile,BQ_asset_intensity_score_percentile,BQ_capital_structure_score_percentile,BQ_reinvestment_score_percentile,BQ_shareholder_score_percentile
RTL.VI,105.3,0.544,-210.442,0.101,0.688,0.302,0.480,0.683,0.625,0.438,0.638
TSMC34.SA,415.5,0.996,68.437,0.543,0.920,0.873,0.997,0.820,0.665,0.973,0.918
MSF0.F,393.9,0.993,-103.362,0.298,0.965,0.918,0.967,0.690,0.754,0.918,0.944
MSFT.MX,393.9,0.993,-209.861,0.101,0.965,0.918,0.967,0.690,0.754,0.918,0.944
MSFT,393.9,0.993,-115.129,0.281,0.965,0.918,0.967,0.690,0.754,0.918,0.944
...,...,...,...,...,...,...,...,...,...,...,...
SYSX,60.3,0.426,134.431,0.637,0.749,0.780,0.438,0.684,0.126,0.438,0.071
ILLA.MI,-68.9,0.156,79.800,0.558,0.287,0.317,0.241,0.855,0.026,0.438,0.071
ALADO.PA,-201.6,0.037,364.403,0.920,0.159,0.290,0.015,0.369,0.930,0.438,0.071
TMBRQ,-178.7,0.050,334.916,0.893,0.063,0.043,0.241,0.314,0.797,0.438,0.071
TOSYY,97.8,0.522,532.478,0.992,0.521,0.484,0.490,0.507,0.320,0.438,0.638

In [9]:
df_out = df_out[~df_out.index.str.contains('\.')]

In [11]:
df_out.to_csv('percentile_scores.csv')

In [2]:
curr = pd.read_pickle("./currency_scrape.pkl")

In [3]:
curr

          reporting_currency trade_currency   exchange
Symbol
TSMC34.SA                BRL            BRL  São Paulo
MSFT.MX                  MXN            MXN     Mexico
MSF.F                    EUR            EUR  Frankfurt
MSFT.VI                  EUR            EUR     Vienna
MSF.DE                   EUR            EUR      XETRA
...                      ...            ...        ...
TOSYY                    USD            USD  Other OTC
PEHD                     USD            USD  Other OTC
YUKA                     USD            USD  Other OTC
MDCE                     USD            USD  Other OTC
GVDI                     USD            USD  Other OTC

[59384 rows x 3 columns]

In [4]:
comp_info = pd.read_pickle("./company_info_short.pkl")

In [5]:
comp_info

,name,sector_comb,industry_comb,country_name,mar_cap_mUSD,3m_val_turnover_mUSD,primary
Symbol,,,,,,,
TSMC34.SA,Taiwan Semiconductor Manufacturing Company Lim...,Technology,Semiconductors,Brazil,3.488470e+06,0.334546,N
MSFT.MX,Microsoft Corporation,Technology,Software - Infrastructure,Mexico,3.088376e+06,2.008184,S
MSF.F,Microsoft Corporation,Technology,Software - Infrastructure,Japan,3.088061e+06,2.114259,S
MSF.DE,Microsoft Corporation,Technology,Software - Infrastructure,Germany,3.088061e+06,13.463041,S
MSFT,Microsoft Corporation,Technology,Software - Infrastructure,United States,3.087000e+06,10121.164500,Y
...,...,...,...,...,...,...,...
2721.T,J-Holdings Corp.,Real Estate,Real Estate Services,Japan,1.004031e+01,0.211604,Y
ATLAS.IS,Atlas Menkul Kiymetler Yatirim Ortakligi A.S.,Financial Services,Capital Markets,Turkey,1.003216e+01,0.183254,Y
MALUPAPER.NS,Malu Paper Mills Limited,Basic Materials,Paper & Paper Products,India,1.002598e+01,0.138419,Y
227950.KQ,"N2Tech Co.,Ltd",None,None,South Korea,1.000449e+01,0.584429,Y
BTTX,"Better Therapeutics, Inc.",Healthcare,Biotechnology,United States,1.000400e+01,0.405351,Y